
<div id="total">
	

<div class="container">


  <form>
  <div id="back">
  <div class="input-group" id="some" >
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input   id="inp" type="text"  ng-model='username' class="form-control" name="email" placeholder="Username" required>
  </div><br>
  <div class="input-group" id="some" >
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input   id="inp" id="password" type="password"   ng-model="password" class="form-control" name="password" placeholder="Password"  required>
  </div><br>
  <input  id="btn" class="btn btn-info" type="submit" ng-click = "submit()" value="Submit">
</form>
</div>

</div>
