<!-- 	<div class="row">
		<div class="col-lg-12">
			<ul>
			<li id="productli" ng-repeat = "ml in ProductCollections.ProductCollection |filter:search" ng-if = "$index >1 && $index <11">
					<input type="checkbox" ng-click="addTocart($index)" ng-model="checked" aria-label="Toggle ngShow">
					<div>
						<br>
						<img src= "{{ml.ProductPicUrl}}"><br>
						<!<button style="margin-left: 20px " class="btn btn-info" href="#!additem" >Add Cart</button><br> -->
						<div>{{ml.Name}} {{ml.ProductId}}</div>
						<div> $ {{ml.Price}}</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
 -->